.service {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid color(super-light-gray);
	margin-bottom: 10px;

	&:last-child {
		border-bottom: none;
	}


	.left {
		display: flex;
		align-items: center;

		img {
			margin-right: 15px;
		}
	}

	.right {
		span {
			font-size: 16px;
		}
	}
}