.hero {
	background: color(black);
	color: color(white);
	width: 100%;
	padding-top: 5rem;
	padding-bottom: 8rem;
	margin-bottom: -4rem;

	.last-updated {
		position: absolute;
		top: 15px;
		right: 25px;
		font-weight: 100;
	}

	.hero-inner {
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;

		h1 {
			color: color(purple);
			font-size: 4rem;
			font-weight: 700;
			text-align: center;
		}

		h2 {
			color: color(white);
			font-weight: 100;
			font-size: 2rem;
		}
	}
}

.group-wrapper {
	.group-header {
		display: flex;
		justify-content: space-between;
	}

	h2 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
	}

	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid color(super-light-gray);

	&:last-child {
		border: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.container {
	width: 90%;
	margin: 0 auto;
}

.card {
	font-size: 1.5rem;
	font-weight: 100;
	background-color: color(white);
	border-radius: 10px;
	color: color(black);
	padding: 4rem;
	box-shadow: 0px 2px 5px rgba(100,100,100,0.1);
	margin-bottom: 50px;
}

h5 {
	color: color(purple);
	font-size: 1.5rem;
	font-weight: 100;

	&.section-heading {
		margin-bottom: 10px;
	}
}

.section-subheading {
	font-size: 0.8em;
	font-weight: 100;
}

footer {
	text-align: center;
	margin-bottom: 200px;
	font-size: 1.5em;
	font-color: color(damn-near-black);

	.code {
		background-color: color(white);
		padding: 2px 5px;
		font-style: italic;
	}
}